<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Центр карьеры ННГУ им Лобачевского</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="styles.33077b6c469f055da0b5.css"></head>
<body>
  <students-root></students-root>
<script src="runtime-es2015.79ac99ce75ed7ad9fbda.js" type="module"></script><script src="runtime-es5.79ac99ce75ed7ad9fbda.js" nomodule defer></script><script src="polyfills-es5.559fed14af4dcf279d84.js" nomodule defer></script><script src="polyfills-es2015.580da6622112a5333d57.js" type="module"></script><script src="scripts.82aad45f2fad02beee3c.js" defer></script><script src="main-es2015.2f3887e9a1bfef2a8e33.js" type="module"></script><script src="main-es5.2f3887e9a1bfef2a8e33.js" nomodule defer></script></body>
</html>
